<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>
	
	<main>
		<section id="inscribirse-curso">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/inscribir-curso.png}" height="60">
					<h3 class="card-title">Inscribir Curso</h3>
				</div>
				<form th:action="@{/curso/load}" th:object="${curso}" method="post">
					<div class="form-group col-md-12">
							<label>Curso: </label> <select th:field="*{curso}"
								class="form-control">
								<option th:each="curso : ${cursos}"
									th:value="${curso.id}" th:text="${curso.nombre}"></option>
							</select>
						</div>
				<form th:action="@{/alumnos/save}" th:object="${alumno}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">					
							<label>Nombre </label> <input
								type="text" class="form-control" th:field="*{nombreCompleto}"	required>
						</div>
						<div class="form-group col-md-12">
							<label>Correo:</label> <input
								type="text" class="form-control" th:field="*{correo}"	required>
						</div>
					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Inscribirse</button>
						<a class="btn btn btn-outline-dark" th:href="@{/inicio-alumnos}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>