<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>
	
	<main>
		<section id="olvide-contra">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/candadodo.png}" height="60">
					<h3 class="card-title">Olvidaste tu password?</h3>
				</div>
				<form th:action="@{/alumnos/verificar}" th:object="${alumno}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Correo del alumno: </label> <input type="text"
								class="form-control" th:field="*{correo}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Nuevo password: </label> <input type="text"
								class="form-control" th:field="*{password}" required>
						</div>
						



					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Cambiar password</button>
						<a class="btn btn btn-outline-dark" th:href="@{/inicio-alumnos}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>