<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>
	
	<main>
		<section id="password-alumno">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/imagen contra.png}" height="250">
					<h3 class="card-title">Editar Pefil</h3>
				</div>
				<form th:action="@{/alumnos/password}" th:object="${alumno}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">					
							<label>Password actual </label> <input
								type="text" class="form-control" th:field="*{password}"	required>
						</div>
					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Cambiar contraseña</button>
						<a class="btn btn btn-outline-dark" th:href="@{/alumnos}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>