<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>
	
	<main>
		<section id="password-alumno">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/imagen contra.png}" height="250">
					<h3 class="card-title">Cambiar contraseña</h3>
				</div>
				<form method="post" th:action="@{/alumnos/password}"
                        	oninput='password2.setCustomValidity(password2.value != password.value ? "Las contraseñas no tienen coincidencia." : "")'>
                           
                            <div class="form-row">    
                                
                               
                                 <div class="form-group col-md-12">
                                    <label for="inputPassword1">Contraseña Nueva: </label>
                                    <input th:field="${usuario.password}"  class="form-control form-control-sm" id="inputPassword1" name="password1" required>
                                </div>
                                <small id="passwordHelpBlock" class="form-text text-muted">
								una vez hecho el cambio ,al iniciar sesion otra vez se te pedira la contraseña nueva que has puesto </small>
                              
                            </div>

                           
                            

                            <div class="text-center pt-3">
                                
                                <button type="button" class="btn btn-dark mr-4" data-toggle="modal"
							data-target="#contraModal"><i class="fas fa-edit"></i> Cambiar Contraseña</button>
                            </div>
                            <div>

						<div class="modal fade" id="contraModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">seguro
											que deseas cambiar tu contraseña?</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">No olvides utilizar esta nueva contraseña al momento de iniciar sesion nuevamente</div>
									<div class="modal-footer">
										<button type="button" class="btn btn btn-outline-dark"
											data-dismiss="modal">Cerrar</button>
										<button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
									</div>
								</div>
							</div>
						</div>



					</div>
                        </form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>