<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-asesor :: head">
</head>

<body class="teacher-body">
	<header th:replace="layout/layout-asesor :: header"> </header>
	
	<main>
		<section id="perfil-asesor">
			<div class="container jumbotron">
				<div class="text-center pb-2">
					<img th:src="@{/images/teacher.png}" height="100">
					<h3 class="card-title pt-2">Mi Perfil</h3>
				</div>				
					<div class="form-row">
						<div class="form-group col-md-12">					
							<label>Nombre completo: </label> <input
								type="text" class="form-control" th:field="${asesor.nombreCompleto}" disabled>
						</div>
						<div class="form-group col-md-12">
							<label>Telefono:</label> <input
								type="number" class="form-control" th:field="${asesor.telefono}" disabled>
						</div>
						<div class="form-group col-md-12">
							<label>Correo:</label> <input
								type="text" class="form-control" th:field="${asesor.correo}" disabled>
						</div>
						<div class="form-group col-md-12">
							<label>Fecha de Nacimiento:</label> <input
								type="date" class="form-control" th:field="${asesor.fechaNacimiento}" disabled>
						</div>
						<div class="form-group col-md-12">
							<label>Cuenta Zoom:</label> <input
								type="text" class="form-control" th:field="${asesor.cuentaZoom}" disabled>
						</div>
					</div>
					<div class="text-center pt-3">						
						<a class="btn btn-dark" th:href="@{/asesores/editar-perfil-asesor}"><i class="fas fa-edit"></i> Editar</a>
					</div>
			</div>
		</section>
	</main>
	
	<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>
</html>