<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout-asesor :: head"></head>

<body class="gold-body">
	<header th:replace="layout/layout-asesor :: header"> </header>

    <main class="container registro">
        <div class="card mb-3 ">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img id="img-register" th:src="@{/images/teacher-register.png}" class="card-img">
                </div>

                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title text-center">Regístrate como asesor</h4>
                        
                        
                        <form method="post" th:object="${asesor}" th:action="@{/asesores/registrar}">

							<h5 class="pb-1 pt-4">Datos personales</h5>
  							<div class="form-row">
  							
  								<div class="form-group col-md-6">
    								<label>Nombre completo: </label>
    								<input th:field="*{nombreCompleto}" type="text" class="form-control form-control-sm" placeholder="Carlos Alberto Sánchez Prado" required>
								</div>
  								<div class="form-group col-md-6">
    								<label for="inputTelefono">Teléfono:</label>
    								<input th:field="*{telefono}" type="number" class="form-control form-control-sm" placeholder="980564578" required>
								</div>
								<div class="form-group col-md-6">
    								<label for="inputCorreoElectronico">Correo electrónico: </label>
    								<input th:field="*{correo}" type="text" class="form-control form-control-sm" placeholder="albertito123@gmail.com" required>
								</div>
								<div class="form-group col-md-6">
    								<label for="inputFechaNacimiento">Fecha de nacimiento:</label>
    								<input th:field="*{fechaNacimiento}" type="date" class="form-control form-control-sm" required>
								</div>
								<div class="form-group col-md-6">
    								<label for="inputCuentaZoom">Cuenta de zoom:</label>
    								<input th:field="*{cuentaZoom}" type="text" class="form-control form-control-sm" placeholder="albertito123@gmail.com" required>
								</div>
								<div class="form-group col-md-6">
    								<label for="inputEntidadEducativa">Enlace documentos de estudio:</label>
    								<input th:field="*{enlaceDocumento}" type="text" class="form-control form-control-sm" placeholder="https://drive.google.com/drive/1cxACx" required>
								</div>
  							</div>
  							
  							
  							<h5 class="pb-1 pt-3">Datos para la cuenta</h5>
							<div class="form-row">
    							<div class="form-group col-md-6">
        							<label for="inputUsuario">Usuario: </label>
        							<input th:field="*{username}" type="text" class="form-control form-control-sm" placeholder="AlbertitoTuTerror123" required>
    							</div>
							</div>
							<div class="form-row">
    							<div class="form-group col-md-6">
        							<label for="inputPassword1">Contraseña: </label>
        							<input th:field="*{password}" type="password" class="form-control form-control-sm" required>
    							</div>
    							<div class="form-group col-md-6">
        							<label for="inputPassword2">Confirmar Contraseña: </label>
        							<input type="password" class="form-control form-control-sm" required>
    							</div>
							</div>
							<div class="text-center pt-3">
    							<button type="submit" class="btn btn-dark mr-4">Registrarme</button>
    							<a class="btn btn btn-outline-dark" th:href="@{/inicio-asesores}">Cancelar</a>
							</div>
  						</form>
  
  
                  </div>
                </div>
            </div>
        </div>
    </main>

<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>

</html>