<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-asesor :: head">
</head>

<body class="teacher-body">
	<header th:replace="layout/layout-asesor :: header"> </header>
	
	<main>
		<section id="crear-unidad">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/crear-unidad.png}" height="60">
					<h3 class="card-title">Crear unidad</h3>
				</div>
				<form th:action="@{/unidades/save}" th:object="${unidad}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">					
							<label>Nombre de la Unidad: </label> <input
								type="text" class="form-control" th:field="*{nombre}"	required>
						</div>
						<div class="form-group col-md-12">
							<label>Descripcion:</label> <input
								type="text" class="form-control" th:field="*{descripcion}"	required>
						</div>
						<div class="form-group col-md-12">
							<label>Horas:</label> <input
								type="number" class="form-control" th:field="*{horas}" 	required>
								<small id="passwordHelpBlock" class="form-text text-muted">
								duracion de la unidad aprox </small>
						</div>
						<div class="form-group col-md-6">
							<label>Fecha de Inicio:</label> <input
								type="date" class="form-control" th:field="*{fechaInicio}"	required>
						</div>
						<div class="form-group col-md-6">
							<label>Fecha de Fin:</label> <input
								type="date" class="form-control" th:field="*{fechaFin}"	required>
						</div>
					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Crear unidad</button>
						<a class="btn btn btn-outline-dark" th:href="@{'/cursos/curso-view-asesor-'+${unidad.curso.id}}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>
</html>