<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-asesor :: head">
</head>

<body class="teacher-body">
	<header th:replace="layout/layout-asesor :: header"> </header>
	
	<main>
		<section id="materiales-sesion" class="container">
			<div class="jumbotron">
				<div id="titulo-materiales" class="text-center">
					<img th:src="@{/images/descargar-material.png}" height="60">
					<h3>Materiales de la sesión</h3>					
					<h5> <b>Tema:</b> <span th:text="${sesion.tema}"></span></h5>				
				</div>
				
				<div class="row" th:each="materiales : ${sesion.materiales}">
					<div class="col-md-2"></div>
					<div class="card mb-3 col-md-8" style="max-height: 250px;">
						<div class="row no-gutters align-items-center">
							<div class="col-md-2 text-center">
								<img th:src="@{/images/material-sesion.png}" class="card-img" style="max-height: 70px; max-width: 70px;">
							</div>
							<div class="col-md-7">
								<div class="card-body">
									<p><b>Material: </b> <span th:text="${materiales.nombre}"></span> </p>
									<p><b>Enlace: </b> <span th:text="${materiales.enlace}"></span></p>								
								</div>
							</div>
							<div class="col-md-3 text-center">
								<a th:href="@{'https://'+${materiales.enlace}}" target="_blanck" class="btn btn-dark">Descargar 
								<i class="fas fa-arrow-alt-circle-down"></i></a>
							</div>
						</div>						
					</div>
					<div class="col-md-2"></div>
				</div>
				
				<div th:if="${sesion.materiales.isEmpty()}" class="text-center pb-5">
					<h6>Esta sesión no posee materiales registrados hasta el momento.</h6>
				</div>
				
				<div class="text-center">
					<a class="btn btn-dark mr-3" th:href="@{'/materiales/subir-material-' + ${sesion.id}}"><i class="fas fa-upload"></i> Subir Material</a>
					<a class="btn btn-outline-dark" th:href="@{'/sesiones/sesion-asesor-' + ${sesion.id}}">
						<i class="fas fa-chevron-left"></i>  Volver</a>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>
</html>