<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-asesor :: head">
</head>

<body class="teacher-body">
	<header th:replace="layout/layout-asesor :: header"> </header>
	
	<main>
		<section id="vista-sesion">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/sesion.png}" height="100"><br></br>
					<h3 class="card-title">Sesión de: <span th:text="${sesion.tema}"></span></h3>
	
					<a type="button" class="btn btn-dark btn-lg btn-block" th:href="@{${sesion.linkZoom}}" target="_blanck">
						<i class="fas fa-video"></i> Ingresar a reunión Zoom </a>
						
					<br></br> 
					
					<a type="button" class="btn btn-dark btn-lg btn-block" th:href="@{${sesion.linkGrabacion}}" target="_blanck">
						<i class="fas fa-file-video"></i> Ver Grabación </a>
					
					<br></br>
					
					<div class="row">
						<div class="col">
							<a type="button" class="btn btn-dark btn-lg" th:href="@{'/sesiones/materiales-sesion-asesor-' + ${sesion.id}}">
								<i class="fas fa-cloud-download-alt"></i> Materiales </a>
						</div>
						
						<div class="col">
							<a type="button"class="btn btn-dark btn-lg" th:href="@{'/sesiones/ejercicios-sesion-asesor-' + ${sesion.id}}">
								<i class="fas fa-file-alt"></i> Ejercicios </a>
						</div>						
					</div>
					
					
					
					<br>
					<div>						
						<a type="submit" class="btn btn-outline-dark btn-lg btn-white" 
							th:href="@{'/unidades/unidad-view-asesor-' + ${sesion.unidad.id}}">
							<i class="fas fa-chevron-left"></i> Volver</a>
					</div>
					
				</div>
	
	
			</div>
		</section>
	
		<br></br>
	</main>
	
	<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>
</html>