<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>

	<main>
		<section id="vista-sesion">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/sesion.png}" height="100"><br></br>
					<h3 class="card-title">Sesión de: <span th:text="${sesion.tema}"></span></h3>
					 <h4 class="card-title">
						Usuario: <span th:text="${alumno.username}"></span>
					</h4> 
					<a type="button" class="btn btn-dark btn-lg btn-block"
						th:href="@{'https://'+${sesion.linkZoom}}" target="_blanck"> <i
						class="fas fa-video"></i> Ingresar a reunión Zoom
					</a> <br></br> <a type="button" class="btn btn-dark btn-lg btn-block"
						th:href="@{'https://'+${sesion.linkGrabacion}}" target="_blanck">
						<i class="fas fa-file-video"></i> Ver Grabación
					</a> <br></br>

					<div class="row">
						<div class="col">
							<a type="button" class="btn btn-dark btn-lg"
								th:href="@{'/sesiones/materiales-sesion-alumno-' + ${sesion.id}}">
								<i class="fas fa-cloud-download-alt"></i> Materiales
							</a>
						</div>

						<div class="col">
							<a type="button" class="btn btn-dark btn-lg"
								th:href="@{'/sesiones/ejercicios-sesion-alumno-' + ${sesion.id}}">
								<i class="fas fa-file-alt"></i> Ejercicios
							</a>
						</div>
					</div>

					<h4>Califica a tu Asesor</h4>
					<form th:action="@{/sesiones/saveAlumnoAsesor}"
						th:object="${alumnoAsesor}" method="post">
						<!-- <input class="form-control" name="numero" th:field="*{alumno}"
							th:value="${alumno.id}" hidden="hidden"> --> <label>
							<input height="2em" width="2em" class="form-control" type="radio"
							name="numero" th:field="*{valoracion}" th:value="1"> 1
						</label> <label> <input class="form-control" type="radio"
							name="numero" th:field="*{valoracion}" th:value="2"> 2
						</label> <label> <input class="form-control" type="radio"
							name="numero" th:field="*{valoracion}" th:value="3"> 3
						</label> <label> <input class="form-control" type="radio"
							name="numero" th:field="*{valoracion}" th:value="4"> 4
						</label> <label> <input class="form-control" type="radio"
							name="numero" th:field="*{valoracion}" th:value="5"> 5
						</label> <br>
						<div>
							<button type="submit" class="btn btn-dark btn-lg mr-3">
								<i class="fas fa-star"></i> Calificar
							</button>
							<a type="submit" class="btn btn-outline-dark btn-lg btn-white"
								th:href="@{'/unidades/unidad-view-alumno-' + ${sesion.unidad.id}}">
								<i class="fas fa-chevron-left"></i> Volver
							</a>
						</div>
					</form>
				</div>


			</div>
		</section>

		<br></br>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>