<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout-alumno :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-alumno :: header"> </header>

	<main>
		<section class="container">
			<div id="banner-text" class="container">
				<div class="row">
					<div class="col">
						<h1>Califica el curso</h1>
						<h2 th:text="${curso.nombre}"></h2>
					</div>
				</div>
			</div>
			<div class="container">
				<form class="row" th:action="@{/cursos/search-curso}" >
					<div class="col">
                    	<div class="form-group col-md-12">
                        	<label for="inputCorreoElectronico">Calificación: </label>
                        	<input th:field="${alumno_curso.valoracion}" type="number" class="form-control form-control-sm" required>
                    	</div>
                    	<div class="form-group col-md-12">
                        	<label for="inputCorreoElectronico">Comentario: </label>
                        	<textarea th:field="${alumno_curso.comentario}" type="number" class="form-control form-control-sm" required>
                        	</textarea>
                    	</div>
					</div>
				</form>
				<div class="row pt-5">
					<div class="col text-center">
						<button class="btn btn-primary">Enviar</button>
						<button class="btn btn-danger">Cancelar</button>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-alumno :: footer"></footer>
</body>
</html>