<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-asesor :: head">
</head>

<!--Prueba de creacion de layout -->
<body class="teacher-body">
	<header th:replace="layout/layout-asesor :: header"> </header>

	<main>
		<section id="crear-curso">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/crear-curso.png}" height="60">
					<h3 class="card-title">Crear curso</h3>
				</div>
				<form th:action="@{/cursos/save}" th:object="${curso}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Nombre del Curso: </label> <input type="text"
								class="form-control" th:field="*{nombre}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Descripcion: </label> <input type="text"
								class="form-control" th:field="*{descripcion}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Precio: </label> <input type="text" class="form-control"
								th:field="*{precio}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Horas: </label> <input type="text" class="form-control"
								th:field="*{horas}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Capacidad: </label> <input type="text"
								class="form-control" th:field="*{capacidad}" required>
						</div>


						<div class="form-group col-md-6">
							<label for="fechaInicio">Fecha de Inicio</label> <input
								type="date" class="form-control" th:field="*{fechaInicio}">
						</div>

						<div class="form-group col-md-6">
							<label for="fechaFin">Fecha de Fin</label> <input type="date"
								class="form-control" th:field="*{fechaFin}">
						</div>



					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Crear
							curso</button>
						<a class="btn btn btn-outline-dark" th:href="@{/inicio-asesores}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-asesor :: footer"></footer>
</body>
</html>