<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/education-styles.css}">
<link rel="icon" th:href="@{/images/favicon.ico}">
<title th:text="'Curso: ' + ${curso.nombre}"></title>
</head>
<body>

</body>
</html>