<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout-curso :: curso-inicio-head"></head>
<body>
	<header th:replace="layout/layout-curso :: curso-inicio-header"> </header>
	<div id="banner-text" class="container">
		<div class="row">
			<div class="col">
				<h1>Conoce nuestros cursos disponibles</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-sm-6" th:each="curso : ${cursos}" >
						<div class="card mb-4" 
							style="max-width: 540px;">
							<div class="row no-gutters" style="max-width: 540px; height: 250px;">
								<div class="col-md-4">
									<img id="img-vista-curso" th:src="${curso.categoria.urlImage}" class="card-img-top"
										alt="...">
								</div>
								<div class="col-md-8">
									<div class="card text-white bg-dark mb-0"
										style="max-width: 23rem; height: 250px;">
										<div class="card-header">
											<blockquote class="blockquote text-center">
												<h5 class="card-title" th:text="${curso.nombre}"></h5>
											</blockquote>
										</div>
										<div class="card-body">
											<p class="card-text" th:text="${curso.descripcion}"></p>
											<blockquote class="blockquote text-center">
												<a th:href="@{'/cursos/view-' + ${curso.id}}"
													class="btn btn-primary"><svg width="1em" height="1em"
														viewBox="0 0 16 16" class="bi bi-info-circle-fill"
														fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd"
															d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
								</svg> Más Info</a>
											</blockquote>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>




	<br></br>
<footer th:replace="layout/layout-curso :: curso-inicio-footer"></footer>
</body>
</html>