<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/education-styles.css}">
<link rel="icon" th:href="@{/images/favicon.ico}">
<title>Cursos Disponibles</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="d-flex flex-grow-1">
			<span class="w-100 d-lg-none d-block"> <!-- hidden spacer to center brand on mobile --></span>
			<a class="navbar-brand px-3" th:href="@{/}"><img
				th:src="@{/images/pc.png}" width="30" height="30"
				class="d-inline-block align-top" alt=""><b> Modern</b>
				Education</a>
			<div class="w-100 text-right">
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#myNavbar7">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		<div class="collapse navbar-collapse flex-grow-1 text-right pr-3"
			id="myNavbar7">
			<ul class="navbar-nav ml-auto flex-nowrap">
				<li class="nav-item ml-2"><a th:href="@{/}"
					class="nav-link nav">Inicio</a></li>
				<li class="nav-item ml-2"><a th:href="@{/#beneficios}"
					class="nav-link">Beneficios</a></li>
				<li class="nav-item ml-2"><a th:href="@{/#about-us}"
					class="nav-link">Acerca de</a></li>
				<li class="nav-item ml-2"><a th:href="@{/cursos}"
					class="nav-link">Cursos</a></li>
				<li>
					<div class="btn-nav">
						<a class="btn btn-outline-light navbar-btn ml-3"
							th:href="@{/inicio-asesores}">Enseña</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<div id="banner-text" class="container">
		<div class="row">
			<div class="col">
				<h1>Conoce nuestros cursos disponibles</h1>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col">
						<div class="card mb-3" th:each="curso : ${cursos}"
							style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img th:src="@{/images/Python2.png}" class="card-img-top"
										alt="...">
								</div>
								<div class="col-md-8">
									<div class="card text-white bg-dark mb-0"
										style="max-width: 23rem;">
										<div class="card-header">
											<blockquote class="blockquote text-center">
												<h5 class="card-title" th:text="${curso.nombre}"></h5>
											</blockquote>
										</div>
										<div class="card-body">
											<p class="card-text" th:text="${curso.descripcion}"></p>
											<blockquote class="blockquote text-center">
												<a th:href="@{'/cursos/view-' + ${curso.id}}" class="btn btn-primary"><svg width="1em"
														height="1em" viewBox="0 0 16 16"
														class="bi bi-info-circle-fill" fill="currentColor"
														xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd"
															d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
								</svg> Más Info</a>
											</blockquote>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card mb-3" th:each="curso : ${cursos}"
							style="max-width: 540px;">
							<div class="row no-gutters">
								<div class="col-md-4">
									<img th:src="@{/images/Python2.png}" class="card-img-top"
										alt="...">
								</div>
								<div class="col-md-8">
									<div class="card text-white bg-dark mb-0"
										style="max-width: 23rem;">
										<div class="card-header">
											<blockquote class="blockquote text-center">
												<h5 class="card-title" th:text="${curso.nombre}"></h5>
											</blockquote>
										</div>
										<div class="card-body">
											<p class="card-text" th:text="${curso.descripcion}"></p>
											<blockquote class="blockquote text-center">
												<a th:href="@{'/cursos/view-' + ${curso.id}}" class="btn btn-primary"><svg width="1em"
														height="1em" viewBox="0 0 16 16"
														class="bi bi-info-circle-fill" fill="currentColor"
														xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd"
															d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
								</svg> Más Info</a>
											</blockquote>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>


	<br></br>
	<nav id="footer"
		class="navbar sticky-bottom navbar-dark bg-dark justify-content-center">
		<span class="navbar-text"> <small>©2020 Todos los
				derechos reservados. Creado por Modern Education</small>
		</span>
	</nav>

	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap..min.js}"></script>
</body>
</html>